/* CSS information for the website */

body {
    background-image: url("../slytherin.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1a472a;
    background-attachment: fixed;
    backdrop-filter: blur 10px;
}

footer {
    text-align: center; 
    width: 100%;
    margin-top: 50px
}

/* CSS information for toolbar */

.top-bar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background-color: #aaaaaa;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.name {
    text-align: left;
    float: left;
    padding-left: 25px;
    font-size: 20px;
}

.nav-buttons {
    color: white;
    border-radius: 10px;
    display: flex;
    padding-right: 25px;
    font-size: 20px;
}

.nav-buttons a {
    padding: 12px 15px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
  }
  
.nav-buttons a:hover {
    background-color: #2a623d;
    transition: all 0.5s ease-out;
}

.button {
    border: none;
    /*color: #000000;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background: none;
}

/* CSS information exclusive to the "Index" page */

.portrait {
    text-align: center; 
    margin: 5px;
    border: 2px solid #5d5d5d;
    border-radius: 5%;
    width: 25%;
    margin-top: 100px;
}

/* CSS information exclusive to the "About Me" page */

.web-dev {
    margin: 10px;
    float: left;
    width: 46%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: silver;
}

.fun-facts {
    margin: 10px;
    float: right;
    width: 46%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: silver;
}

.column-headings {
    text-align: center;
    margin: 30px;
}

.back-link {
    color: white;
}